$brand-primary: #ffd600;
$brand-secondary: #f5f8fa;
$brand-success: #8ad130;
$brand-info: #9057b3;

$body-bg: #f5f8fa;

$btn-primary-color: rgba(0, 0, 0, 0.5);
$btn-secondary-bg: $brand-secondary;
$btn-secondary-border: #fff;

$navbar-light-color: rgba(0, 0, 0, 0.5);
